<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
            <li><a href="/upload/stats/"><i class="icon-tasks"></i><span class="hidden-tablet"> Upload Stats</span></a></li>
            <li><a href="/company/ratings/"><i class="icon-align-justify"></i><span class="hidden-tablet">Company Ratings</span></a></li>
            <li><a href="/company/matrix/"><i class="icon-align-justify"></i><span class="hidden-tablet">Company Matrix</span></a></li>
        </ul> 
    </div>
</div>
